*{
    box-sizing: border-box;
}

body{
    background: url('https://i.ibb.co/sC0Lvx5/Be-Funky-photo-5.jpg');
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    width: 100%;
   
}

#head{
    font-family: 'Vollkorn', serif;
    font-size:30px;
  
}
.icon{
    color:rgb(21, 23, 22);
}

.hh{
padding-left: 10%;
margin-top: 10%;
}

.navbar-brand{
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    
}
.home{
    margin-top: 13%;
  
}
.sh{
    font-family: 'Fjalla One', sans-serif;
    
    font-size: 20px;
}

.own-class{
    color: rgb(19, 154, 219);
}

